/**
 * Foundation Mixins
 */
body.am-i-pregnant #contentWrapper .outline-box {
  margin-top: 2rem;
  border: solid 1px #df1995;
  background-color: #fff9f7;
  padding: 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body.am-i-pregnant #contentWrapper .outline-box h3 {
    text-align: left;
    margin-top: 2rem; }
  body.am-i-pregnant #contentWrapper .outline-box p {
    text-align: left; }
