/**
 * Foundation Mixins
 */
body.could-i-be-pregnant #contentWrapper .outline-box {
  margin-top: 2rem;
  border: solid 1px #df1995;
  background-color: #fff9f7;
  padding: 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.could-i-be-pregnant #contentWrapper .outline-box .block {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  text-align: left;
  color: #df1995;
  position: relative;
  margin-top: 2rem;
}

body.could-i-be-pregnant #contentWrapper .outline-box .block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  -moz-transform: translateX(-2rem) translateY(-1rem);
  -webkit-transform: translateX(-2rem) translateY(-1rem);
  -o-transform: translateX(-2rem) translateY(-1rem);
  -ms-transform: translateX(-2rem) translateY(-1rem);
  transform: translateX(-2rem) translateY(-1rem);
  width: 121px;
  height: 75px;
  background-size: 121px 75px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
  body.could-i-be-pregnant #contentWrapper .outline-box .block::before {
    width: 60px;
    height: 37px;
    background-size: 60px 37px;
  }
}

body.could-i-be-pregnant #contentWrapper .outline-box .block[data-id="1"]::before {
  background-image: url("../../../images/pink-ellipse-one.png?31");
}

body.could-i-be-pregnant #contentWrapper .outline-box .block[data-id="2"]::before {
  background-image: url("../../../images/pink-ellipse-two.png?31");
}

body.could-i-be-pregnant #contentWrapper .outline-box .block[data-id="3"]::before {
  background-image: url("../../../images/pink-ellipse-three.png?31");
}

body.could-i-be-pregnant #contentWrapper .outline-box .block[data-id="4"]::before {
  background-image: url("../../../images/pink-ellipse-four.png?31");
}

body.could-i-be-pregnant #contentWrapper .outline-box .block .grad {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef99b7+0,ef99b7+25,ef99b7+100&1+0,1+25,0+100 */
  background: -moz-linear-gradient(left, #ef99b7 0%, #ef99b7 25%, rgba(239, 153, 183, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ef99b7 0%, #ef99b7 25%, rgba(239, 153, 183, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ef99b7 0%, #ef99b7 25%, rgba(239, 153, 183, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef99b7', endColorstr='#00ef99b7',GradientType=1 );
  /* IE6-9 */
  z-index: 1;
}

body.could-i-be-pregnant #contentWrapper .outline-box .block img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 2;
}

body.could-i-be-pregnant #contentWrapper .outline-box .block span {
  display: block;
  position: absolute;
  left: 200px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 4rem;
  color: #333333;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 40px;
  line-height: 2.5rem;
  z-index: 3;
}

@media only screen and (min-width: 0) and (max-width: 768px) {
  body.could-i-be-pregnant #contentWrapper .outline-box .block {
    min-height: 100px;
  }
  body.could-i-be-pregnant #contentWrapper .outline-box .block .grad {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef99b7+0,ef99b7+25,ef99b7+100&1+0,1+25,0+100 */
    background: -moz-linear-gradient(left, #ef99b7 0%, #ef99b7 50%, rgba(239, 153, 183, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ef99b7 0%, #ef99b7 50%, rgba(239, 153, 183, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ef99b7 0%, #ef99b7 50%, rgba(239, 153, 183, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef99b7', endColorstr='#00ef99b7',GradientType=1 );
    /* IE6-9 */
  }
  body.could-i-be-pregnant #contentWrapper .outline-box .block img {
    width: 100px;
    height: 100px;
  }
  body.could-i-be-pregnant #contentWrapper .outline-box .block span {
    padding-left: 110px;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px) {
  body.could-i-be-pregnant #contentWrapper .outline-box .block {
    display: inline-block;
    background-position: top left;
  }
  body.could-i-be-pregnant #contentWrapper .outline-box .block span {
    position: relative;
    left: auto;
    top: auto;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    float: left;
    clear: both;
    padding: 1rem 0 1rem 110px;
  }
}

body.could-i-be-pregnant #contentWrapper .cream h5 {
  margin-bottom: 2rem;
}

body.could-i-be-pregnant #contentWrapper .cream .button-group {
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 6.5rem;
  position: relative;
}

body.could-i-be-pregnant #contentWrapper .cream .button-group a.button {
  position: absolute;
  top: 0;
  width: 14rem;
}

body.could-i-be-pregnant #contentWrapper .cream .button-group a.button.left {
  right: 50%;
  -moz-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

body.could-i-be-pregnant #contentWrapper .cream .button-group a.button.right {
  left: 50%;
  -moz-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

@media only screen and (min-width: 0) and (max-width: 480px) {
  body.could-i-be-pregnant #contentWrapper .cream .button-group a.button.left {
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  body.could-i-be-pregnant #contentWrapper .cream .button-group a.button.right {
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}
