/**
 * Foundation Mixins
 */
body.faqs #contentWrapper {
  margin-top: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.faqs #contentWrapper {
      margin-top: 14rem; } }
  body.faqs #contentWrapper .intro {
    text-align: center; }
  body.faqs #contentWrapper #faqsWrapper {
    min-height: 600px; }
  body.faqs #contentWrapper #searchBox {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    border: 1px #818181 solid;
    padding: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    body.faqs #contentWrapper #searchBox input {
      width: 100%;
      padding: 2rem 4rem 2rem 2rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem;
      color: #818181;
      text-align: left;
      border: none;
      outline: none;
      text-transform: uppercase; }
    body.faqs #contentWrapper #searchBox .search {
      position: absolute;
      right: 1.5rem;
      top: 50%;
      width: 4rem;
      height: 4rem;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
      cursor: pointer; }
      body.faqs #contentWrapper #searchBox .search svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
        body.faqs #contentWrapper #searchBox .search svg path {
          fill: #818181;
          will-change: fill;
          -webkit-transition: fill 0.3s linear;
          -moz-transition: fill 0.3s linear;
          -ms-transition: fill 0.3s linear;
          -o-transition: fill 0.3s linear;
          transition: fill 0.3s linear; }
      body.faqs #contentWrapper #searchBox .search:hover svg path {
        fill: #df1995; }
  body.faqs #contentWrapper .outline-box {
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 2rem 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
    body.faqs #contentWrapper .outline-box h3 {
      float: left;
      clear: both;
      width: 100%;
      text-align: left;
      color: #df1995;
      position: relative;
      padding-right: 80px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      will-change: color;
      -webkit-transition: color 0.3s linear;
      -moz-transition: color 0.3s linear;
      -ms-transition: color 0.3s linear;
      -o-transition: color 0.3s linear;
      transition: color 0.3s linear; }
      body.faqs #contentWrapper .outline-box h3::after {
        content: "";
        position: absolute;
        right: 40px;
        top: 0;
        width: 40px;
        height: 40px;
        background-image: url("../../../../images/faqs/faq-open.png");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 0 0; }
    body.faqs #contentWrapper .outline-box[show="true"] h3::after {
      background-image: url("../../../../images/faqs/faq-close.png"); }
    body.faqs #contentWrapper .outline-box p {
      float: left;
      clear: both;
      margin-top: 1rem;
      text-align: left;
      padding-right: 80px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    body.faqs #contentWrapper .outline-box ul {
      list-style: disc;
      float: left;
      clear: both;
      padding-left: 2.5rem; }
      body.faqs #contentWrapper .outline-box ul li {
        clear: both;
        padding-right: 80px; }
    body.faqs #contentWrapper .outline-box .ans {
      float: left;
      clear: both;
      overflow: hidden;
      will-change: all;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      max-height: 0; }
      body.faqs #contentWrapper .outline-box .ans .result hr {
        width: 100%;
        float: left;
        clear: both;
        margin-top: 2rem; }
      body.faqs #contentWrapper .outline-box .ans .result p {
        padding-right: 0; }
      body.faqs #contentWrapper .outline-box .ans .result img {
        width: 33%;
        float: left; }
      body.faqs #contentWrapper .outline-box .ans .result span {
        display: inline-block;
        width: 66%;
        padding-left: 2rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    @media only screen and (min-width: 0) and (max-width: 960px), only screen and (min-width: 961px) and (max-width: 1366px) {
      body.faqs #contentWrapper .outline-box h3 {
        padding-right: 60px; }
        body.faqs #contentWrapper .outline-box h3::after {
          right: 20px;
          width: 20px;
          height: 20px;
          background-size: 20px 20px; }
      body.faqs #contentWrapper .outline-box p, body.faqs #contentWrapper .outline-box ul li {
        padding-right: 60px; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body.faqs #contentWrapper .outline-box h3 {
        padding-right: 40px; }
        body.faqs #contentWrapper .outline-box h3::after {
          right: 10px; }
      body.faqs #contentWrapper .outline-box p, body.faqs #contentWrapper .outline-box ul li {
        padding-right: 40px; } }
  body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] h3, body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] p, body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] ul li {
    color: #818181; }
    body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] h3 span, body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] p span, body.faqs #contentWrapper #faqsWrapper.searching .outline-box[filtered="true"] ul li span {
      color: #df1995; }

body.faqs #contentWrapper .filtered-enter-active {
  animation: faqReturn ease-out 0.5s;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: faqReturn ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: faqReturn ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: faqReturn ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: faqReturn ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

body.faqs #contentWrapper .filtered-leave-active {
  animation: faqRemove ease-out 0.5s;
  animation-iteration-count: 1;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: faqRemove ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: faqRemove ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: faqRemove ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: faqRemove ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

@keyframes faqRemove {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@-moz-keyframes faqRemove {
  0% {
    -moz-transform: scale(1); }
  50% {
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(0); } }

@-webkit-keyframes faqRemove {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(0); } }

@-o-keyframes faqRemove {
  0% {
    -o-transform: scale(1); }
  50% {
    -o-transform: scale(1.2); }
  100% {
    -o-transform: scale(0); } }

@-ms-keyframes faqRemove {
  0% {
    -ms-transform: scale(1); }
  50% {
    -ms-transform: scale(1.2); }
  100% {
    -ms-transform: scale(0); } }

@-webkit-keyframes faqReturn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes faqReturn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes faqRemove {
  0% {
    -moz-transform: scale(0); }
  50% {
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }

@-webkit-keyframes faqRemove {
  0% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@-o-keyframes faqRemove {
  0% {
    -o-transform: scale(0); }
  50% {
    -o-transform: scale(1.2); }
  100% {
    -o-transform: scale(1); } }

@-ms-keyframes faqRemove {
  0% {
    -ms-transform: scale(0); }
  50% {
    -ms-transform: scale(1.2); }
  100% {
    -ms-transform: scale(1); } }
