/**
 * Foundation Mixins
 */
body.misc #contentWrapper {
  margin-top: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.misc #contentWrapper {
      margin-top: 14rem; } }
  body.misc #contentWrapper h1.small-h1 {
    font-size: 54px !important;
    font-size: 3.375rem !important;
    line-height: 54px !important;
    line-height: 3.375rem !important;
    color: #818181 !important; }
  body.misc #contentWrapper .outline-box {
    margin-top: 2rem;
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.misc #contentWrapper .outline-box h2, body.misc #contentWrapper .outline-box h3 {
      margin-top: 2rem; }
      body.misc #contentWrapper .outline-box h2:first-child, body.misc #contentWrapper .outline-box h3:first-child {
        margin-top: 0; }
    body.misc #contentWrapper .outline-box p {
      margin-top: 1rem;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; }
      body.misc #contentWrapper .outline-box p a {
        color: #818181; }
    body.misc #contentWrapper .outline-box ol, body.misc #contentWrapper .outline-box ul {
      padding-left: 2.5rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      body.misc #contentWrapper .outline-box ol li, body.misc #contentWrapper .outline-box ul li {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; }
        body.misc #contentWrapper .outline-box ol li a, body.misc #contentWrapper .outline-box ul li a {
          color: #818181; }
    body.misc #contentWrapper .outline-box table {
      margin-top: 2rem; }
      body.misc #contentWrapper .outline-box table tr th, body.misc #contentWrapper .outline-box table tr td {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; }
  body.misc #contentWrapper .buy-now .shim {
    float: left;
    clear: both;
    width: 100%; }
  body.misc #contentWrapper .buy-now a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    body.misc #contentWrapper .buy-now a .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      will-change: transform;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 80%;
      will-change: all;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear; }
    body.misc #contentWrapper .buy-now a:hover .logo {
      width: 95%; }
  body.misc #contentWrapper .all-left p {
    text-align: left; }

body.misc.min {
  display: block; }
  body.misc.min #contentWrapper {
    height: 90%;
    margin-top: 0;
    padding-top: 10rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (min-width: 769px) and (max-width: 960px) {
      body.misc.min #contentWrapper {
        padding-top: 14rem; } }
  @media only screen and (min-width: 481px) {
    body.misc.min #footerWrapper {
      position: absolute;
      bottom: 0; } }

body.error #contentWrapper {
  margin-top: 10rem;
  margin-bottom: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.error #contentWrapper {
      margin-top: 14rem; } }
  body.error #contentWrapper .maxInner {
    max-width: 1000px; }
    body.error #contentWrapper .maxInner .err-msg {
      background-color: #fdd5ec;
      padding: 3rem 0; }
      body.error #contentWrapper .maxInner .err-msg .stick {
        width: 100%; }
      body.error #contentWrapper .maxInner .err-msg h2, body.error #contentWrapper .maxInner .err-msg p {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1rem; }
      body.error #contentWrapper .maxInner .err-msg p {
        margin-top: 2rem;
        color: #333333;
        text-transform: uppercase; }
      body.error #contentWrapper .maxInner .err-msg ul {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 2rem; }
        body.error #contentWrapper .maxInner .err-msg ul li {
          width: 100%;
          text-align: center;
          text-transform: uppercase; }
          body.error #contentWrapper .maxInner .err-msg ul li a {
            border-bottom: 1px #818181 solid;
            color: #333333;
            will-change: all;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            text-decoration: none; }
            body.error #contentWrapper .maxInner .err-msg ul li a:hover {
              color: #df1995;
              border-color: #df1995; }

#cookie-table {
  border: 1px #818181 solid; }
  #cookie-table tr th, #cookie-table tr td {
    padding: 0.5rem !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #818181 solid;
    color: #818181; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      #cookie-table tr th, #cookie-table tr td {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 16px;
        line-height: 1rem; } }
