/**
 * Foundation Mixins
 */
body.result #contentWrapper {
  margin-top: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.result #contentWrapper {
      margin-top: 14rem; } }
  body.result #contentWrapper .outline-box {
    margin-top: 2rem;
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.result #contentWrapper .outline-box.match {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    body.result #contentWrapper .outline-box h2, body.result #contentWrapper .outline-box h3 {
      margin-top: 2rem; }
      body.result #contentWrapper .outline-box h2:first-child, body.result #contentWrapper .outline-box h3:first-child {
        margin-top: 0; }
    body.result #contentWrapper .outline-box p {
      margin-top: 1rem;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; }
      body.result #contentWrapper .outline-box p a {
        color: #818181; }
    body.result #contentWrapper .outline-box ol, body.result #contentWrapper .outline-box ul {
      padding-left: 2.5rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      body.result #contentWrapper .outline-box ol li, body.result #contentWrapper .outline-box ul li {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; }
        body.result #contentWrapper .outline-box ol li a, body.result #contentWrapper .outline-box ul li a {
          color: #818181; }
    body.result #contentWrapper .outline-box table {
      margin-top: 2rem; }
      body.result #contentWrapper .outline-box table tr th, body.result #contentWrapper .outline-box table tr td {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; }
