@charset "UTF-8";
/**
 * Foundation Mixins
 */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table; }

.pika-single:after {
  clear: both; }

.pika-single {
  *zoom: 1; }

.pika-single.is-hidden {
  display: none; }

.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-lendar {
  float: left;
  width: 360px;
  margin: 8px; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .pika-lendar {
      width: 240px; } }

.pika-title {
  position: relative;
  text-align: center; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff; }

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0; }

.pika-prev:hover,
.pika-next:hover {
  opacity: 1; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0; }

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center; }

.pika-button {
  cursor: pointer;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: #f5f5f5; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-today .pika-button {
  color: #df1995;
  font-weight: bold; }

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #df1995;
  -webkit-box-shadow: inset 0 1px 3px #df1995;
  box-shadow: inset 0 1px 3px #df1995;
  border-radius: 3px; }

.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #df1995;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #df1995;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px; }

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3; }

.pika-button:hover {
  color: #fff;
  background: #df1995;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px; }

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help; }

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
body.pregnancy-test-caculator #contentWrapper {
  margin-top: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.pregnancy-test-caculator #contentWrapper {
      margin-top: 14rem; } }
  body.pregnancy-test-caculator #contentWrapper .calculator-wrap {
    margin-top: 2rem;
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap .form {
      width: 100%;
      float: left;
      clear: both;
      margin-top: 2rem; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .form .form-row {
        clear: both;
        margin: 0 auto 20px auto;
        width: 100%;
        max-width: 720px; }
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .form .form-row label {
          width: 100%;
          display: block;
          text-transform: uppercase;
          text-align: center;
          color: #818181;
          font-size: 27px;
          font-size: 1.6875rem;
          line-height: 30px;
          line-height: 1.875rem;
          margin-bottom: 1rem; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .form .button-row {
        clear: both;
        margin: 0 auto 0 auto;
        width: 100%;
        max-width: 720px;
        text-align: center; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap,
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap {
      width: 100%;
      display: block;
      position: relative;
      border: 1px solid #818181;
      overflow: hidden; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap input[type='text'],
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap input[type='text'] {
        cursor: pointer;
        border: none;
        outline: 0;
        width: 100%;
        height: 75px;
        padding: 1rem 75px 1rem 1rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .calendar-inner,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .calendar-inner,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 75px;
        height: 75px;
        cursor: pointer;
        pointer-events: none; }
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .calendar-inner img,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner img,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .calendar-inner img,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner img {
          display: block;
          width: 75px;
          height: 75px; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner {
        background: url("../../../../images/pregnancy-test-calculator/input-box-background-grad.jpg");
        background-size: cover;
        pointer-events: all; }
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div {
          display: block;
          position: absolute;
          left: 0;
          right: 0; }
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div svg,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div svg {
            position: absolute;
            left: 50%;
            top: 50%;
            will-change: transform;
            -moz-transform: translateX(-50%) translateY(-5px);
            -webkit-transform: translateX(-50%) translateY(-5px);
            -o-transform: translateX(-50%) translateY(-5px);
            -ms-transform: translateX(-50%) translateY(-5px);
            transform: translateX(-50%) translateY(-5px);
            width: 15px;
            height: 10px;
            will-change: all;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear; }
            body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div svg path,
            body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div svg path {
              fill: #FFFFFF; }
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div.up,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div.up {
            top: 0;
            bottom: 50%; }
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div.down,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div.down {
            top: 50%;
            bottom: 0; }
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner div:hover svg,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner div:hover svg {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5; }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap input[type='text'],
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap input[type='text'] {
          height: 60px;
          padding: 1rem 60px 1rem 1rem; }
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .calendar-inner,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .calendar-inner,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner {
          width: 60px;
          height: 60px; }
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .calendar-inner img,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .calendar-wrap .control-inner img,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .calendar-inner img,
          body.pregnancy-test-caculator #contentWrapper .calculator-wrap .control-wrap .control-inner img {
            width: 60px;
            height: 60px; } }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap h3 {
      margin-bottom: 20px; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap .radio-row {
      width: 100%;
      height: 1.688rem;
      position: relative;
      margin-bottom: 20px; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap .radio-row label {
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: auto !important; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input {
      width: 100%;
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      color: #818181;
      border: 1px solid #818181;
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 30px;
      line-height: 1.875rem; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap input.display-block {
        display: block; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked),
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked {
      position: absolute;
      left: -9999px; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label,
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label {
      position: relative;
      display: inline-block;
      cursor: pointer; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label.no:before,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label.no:before {
        background: #FFFFFF !important; }
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label.yes:before,
      body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label.yes:before {
        background: #FFFFFF !important; }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label:before,
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label:before {
      content: '';
      font-family: 'Wingdings';
      position: absolute;
      border: 2px solid #CCCCCC;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      left: -45px;
      top: 0; }
      @media only screen and (min-width: 0) and (max-width: 960px), only screen and (min-width: 961px) and (max-width: 1366px) {
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label:before,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label:before {
          width: 14px;
          height: 14px;
          left: -25px;
          top: -1px; } }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label:after,
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label:after {
      content: '';
      background-color: #df1995;
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      will-change: all;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      width: 24px;
      height: 24px;
      left: -40px;
      top: 5px; }
      @media only screen and (min-width: 0) and (max-width: 960px), only screen and (min-width: 961px) and (max-width: 1366px) {
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label:after,
        body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label:after {
          width: 12px;
          height: 12px;
          left: -22px;
          top: 2px; } }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:not(:checked) + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    body.pregnancy-test-caculator #contentWrapper .calculator-wrap input[type="radio"].checkbox-style:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  body.pregnancy-test-caculator #contentWrapper .solid-box {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #fdd5ec;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    body.pregnancy-test-caculator #contentWrapper .solid-box::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      will-change: transform;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 121px;
      height: 75px;
      /*
   * Set a counter and get the length of the image path.
   */
      /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
      /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
      /*
     * Set a base background for 1x environments.
     */
      background: url("../../../images/pink-ellipse-exclamation.png?286");
      background-size: 121px 75px;
      /*
     * Create an @2x-ish media query.
     */
      /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
      /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */
      background-repeat: no-repeat !important;
      text-align: center;
      color: #FFFFFF; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
        body.pregnancy-test-caculator #contentWrapper .solid-box::before {
          background: url("../../../images/pink-ellipse-exclamation@2x.png?286");
          background-size: 121px 75px; } }
      @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
        body.pregnancy-test-caculator #contentWrapper .solid-box::before {
          background: url("../../../images/pink-ellipse-exclamation@2x.png?286");
          background-size: 121px 75px; } }
      @media only screen and (min-width: 0) and (max-width: 960px) {
        body.pregnancy-test-caculator #contentWrapper .solid-box::before {
          width: 60px;
          height: 37px;
          background-size: 60px 37px !important; } }
    body.pregnancy-test-caculator #contentWrapper .solid-box p {
      margin-top: 1rem;
      color: #df1995; }
    body.pregnancy-test-caculator #contentWrapper .solid-box.warning {
      display: none; }
      body.pregnancy-test-caculator #contentWrapper .solid-box.warning[show="true"] {
        display: block; }
  body.pregnancy-test-caculator #contentWrapper .result-wrap {
    margin-top: 2rem;
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none; }
    body.pregnancy-test-caculator #contentWrapper .result-wrap[show="true"] {
      display: block; }
    body.pregnancy-test-caculator #contentWrapper .result-wrap table {
      float: left;
      clear: both;
      width: 100%; }
      body.pregnancy-test-caculator #contentWrapper .result-wrap table th {
        color: #df1995;
        padding: 1rem;
        border-bottom: 2px solid #df1995;
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 30px;
        line-height: 1.875rem; }
      body.pregnancy-test-caculator #contentWrapper .result-wrap table td {
        text-align: center;
        padding: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        body.pregnancy-test-caculator #contentWrapper .result-wrap table td span.num {
          display: block;
          width: 100%;
          height: 100%;
          padding: 1rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #fffcfb;
          border-bottom: 4px solid #fffcfb;
          font-size: 27px;
          font-size: 1.6875rem;
          line-height: 30px;
          line-height: 1.875rem; }
          body.pregnancy-test-caculator #contentWrapper .result-wrap table td span.num.light {
            background-color: #e6e6e6;
            border-bottom: 4px solid #818181; }
          body.pregnancy-test-caculator #contentWrapper .result-wrap table td span.num.dark {
            background-color: #fbacda;
            border-bottom: 4px solid #df1995; }
    body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer {
      float: left;
      clear: both;
      width: 100%; }
      body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key,
      body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .disclaimer {
        float: left;
        clear: both;
        width: 100%;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem;
        color: #818181;
        margin-top: 1rem; }
        @media only screen and (min-width: 0) and (max-width: 768px) {
          body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key,
          body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .disclaimer {
            margin-top: 2rem; } }
      body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key {
        padding-left: 50px;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key::before {
          content: "";
          position: absolute;
          left: 0;
          top: 2px;
          width: 40px;
          height: 22px; }
        @media only screen and (min-width: 0) and (max-width: 768px) {
          body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key {
            padding-left: 40px; }
            body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key::before {
              width: 30px;
              height: 16px; } }
        body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key.light::before {
          background-color: #e6e6e6;
          border-bottom: 4px solid #818181; }
        body.pregnancy-test-caculator #contentWrapper .result-wrap .results-footer .key.dark::before {
          background-color: #fbacda;
          border-bottom: 4px solid #df1995; }
  body.pregnancy-test-caculator #contentWrapper .cream {
    padding-bottom: 10rem; }
