/**
 * Foundation Mixins
 */
/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
body.products #contentWrapper .notCream {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 94px;
  margin-top: 2rem; }
  @media only screen and (min-width: 961px) and (max-width: 1366px) {
    body.products #contentWrapper .notCream {
      padding-bottom: 70.5px; } }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.products #contentWrapper .notCream {
      padding-bottom: 56.4px; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    body.products #contentWrapper .notCream {
      padding-bottom: 28.2px; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    body.products #contentWrapper .notCream {
      padding-bottom: 18.8px; } }
  body.products #contentWrapper .notCream .packs {
    position: relative; }
    body.products #contentWrapper .notCream .packs .shim {
      width: 100%;
      display: none;
      margin-top: 2rem; }
    body.products #contentWrapper .notCream .packs .pack {
      margin-top: 2rem;
      width: 124%;
      margin-left: -12%; }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        body.products #contentWrapper .notCream .packs .pack {
          width: 100%;
          margin-left: 0; } }
    body.products #contentWrapper .notCream .packs .buttons {
      float: left;
      clear: both;
      position: relative;
      width: 100%; }
      body.products #contentWrapper .notCream .packs .buttons .button {
        position: absolute;
        bottom: 1rem;
        width: 8rem; }
        body.products #contentWrapper .notCream .packs .buttons .button.left {
          left: 2%; }
        body.products #contentWrapper .notCream .packs .buttons .button.right {
          right: 2%; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      body.products #contentWrapper .notCream .packs .shim {
        display: block; }
      body.products #contentWrapper .notCream .packs .pack {
        top: 5.75rem;
        position: absolute; }
      body.products #contentWrapper .notCream .packs .buttons {
        display: none; } }
  body.products #contentWrapper .notCream .details {
    padding-left: 6%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.products #contentWrapper .notCream .details p {
      width: 100%;
      float: left;
      clear: both;
      text-align: left; }
      body.products #contentWrapper .notCream .details p.disclaimer {
        margin-top: 2rem;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 20px;
        line-height: 1.25rem; }
    body.products #contentWrapper .notCream .details ul {
      margin-top: 2rem;
      float: left;
      clear: both;
      list-style: none;
      width: 100%; }
      body.products #contentWrapper .notCream .details ul li {
        border-top: 1px #818181 solid;
        padding: 1rem 0;
        float: left;
        clear: both;
        width: 100%;
        min-height: 50px;
        position: relative; }
        body.products #contentWrapper .notCream .details ul li:last-child {
          border-bottom: 1px #818181 solid; }
        body.products #contentWrapper .notCream .details ul li h4 {
          font-size: 30px;
          font-size: 1.875rem;
          line-height: 30px;
          line-height: 1.875rem;
          color: #df1995;
          text-transform: uppercase;
          position: absolute;
          left: 0;
          top: 1rem;
          width: 200px;
          min-height: 50px;
          padding-left: 60px;
          padding-top: 0.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-position: top left !important;
          background-repeat: no-repeat !important; }
          body.products #contentWrapper .notCream .details ul li h4[data-ref="simple"] {
            /*
   * Set a counter and get the length of the image path.
   */
            /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
            /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
            /*
     * Set a base background for 1x environments.
     */
            background: url("../../../../images/icons/simple.png?64");
            background-size: 50px 50px;
            /*
     * Create an @2x-ish media query.
     */
            /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
            /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
            @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="simple"] {
                background: url("../../../../images/icons/simple@2x.png?64");
                background-size: 50px 50px; } }
            @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="simple"] {
                background: url("../../../../images/icons/simple@2x.png?64");
                background-size: 50px 50px; } }
          body.products #contentWrapper .notCream .details ul li h4[data-ref="fast"] {
            /*
   * Set a counter and get the length of the image path.
   */
            /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
            /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
            /*
     * Set a base background for 1x environments.
     */
            background: url("../../../../images/icons/fast.png?64");
            background-size: 50px 50px;
            /*
     * Create an @2x-ish media query.
     */
            /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
            /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
            @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="fast"] {
                background: url("../../../../images/icons/fast@2x.png?64");
                background-size: 50px 50px; } }
            @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="fast"] {
                background: url("../../../../images/icons/fast@2x.png?64");
                background-size: 50px 50px; } }
          body.products #contentWrapper .notCream .details ul li h4[data-ref="clear"] {
            /*
   * Set a counter and get the length of the image path.
   */
            /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
            /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
            /*
     * Set a base background for 1x environments.
     */
            background: url("../../../../images/icons/clear.png?64");
            background-size: 50px 50px;
            /*
     * Create an @2x-ish media query.
     */
            /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
            /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
            @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="clear"] {
                background: url("../../../../images/icons/clear@2x.png?64");
                background-size: 50px 50px; } }
            @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="clear"] {
                background: url("../../../../images/icons/clear@2x.png?64");
                background-size: 50px 50px; } }
          body.products #contentWrapper .notCream .details ul li h4[data-ref="accurate"] {
            /*
   * Set a counter and get the length of the image path.
   */
            /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
            /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
            /*
     * Set a base background for 1x environments.
     */
            background: url("../../../../images/icons/accurate.png?64");
            background-size: 50px 50px;
            /*
     * Create an @2x-ish media query.
     */
            /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
            /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
            @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="accurate"] {
                background: url("../../../../images/icons/accurate@2x.png?64");
                background-size: 50px 50px; } }
            @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
              body.products #contentWrapper .notCream .details ul li h4[data-ref="accurate"] {
                background: url("../../../../images/icons/accurate@2x.png?64");
                background-size: 50px 50px; } }
        body.products #contentWrapper .notCream .details ul li p {
          float: left;
          text-align: left;
          padding-left: 220px;
          padding-top: 0.5rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
    @media only screen and (min-width: 961px) and (max-width: 1366px), only screen and (min-width: 769px) and (max-width: 960px) {
      body.products #contentWrapper .notCream .details ul li {
        min-height: 25px; }
        body.products #contentWrapper .notCream .details ul li h4 {
          width: 150px;
          padding-left: 35px;
          background-size: 25px 25px !important; }
        body.products #contentWrapper .notCream .details ul li p {
          padding-left: 170px; } }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      body.products #contentWrapper .notCream .details {
        margin-top: 2rem;
        padding-left: 0%; }
        body.products #contentWrapper .notCream .details p {
          text-align: center; }
        body.products #contentWrapper .notCream .details ul li {
          min-height: 25px; }
          body.products #contentWrapper .notCream .details ul li h4 {
            width: auto;
            left: 50%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            text-align: center;
            padding-left: 35px;
            background-size: 25px 25px !important; }
          body.products #contentWrapper .notCream .details ul li p {
            margin-top: 3rem;
            padding-left: 0;
            text-align: center; } }
