/**
 * Foundation Mixins
 */
/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
body.reading-your-test #contentWrapper .outline-box {
  margin-top: 2rem;
  border: solid 1px #df1995;
  background-color: #fff9f7;
  padding: 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body.reading-your-test #contentWrapper .outline-box hr {
    display: block;
    border: 0;
    height: 1px;
    background: #df1995;
    margin: 2rem 0; }
    body.reading-your-test #contentWrapper .outline-box hr.or {
      position: relative; }
      body.reading-your-test #contentWrapper .outline-box hr.or::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        will-change: transform;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 121px;
        height: 75px;
        /*
   * Set a counter and get the length of the image path.
   */
        /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
        /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
        /*
     * Set a base background for 1x environments.
     */
        background: url("../../../images/pink-ellipse-or.png?299");
        background-size: 121px 75px;
        /*
     * Create an @2x-ish media query.
     */
        /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
        /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */
        background-repeat: no-repeat !important;
        text-align: center;
        color: #FFFFFF; }
        @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
          body.reading-your-test #contentWrapper .outline-box hr.or::before {
            background: url("../../../images/pink-ellipse-or@2x.png?299");
            background-size: 121px 75px; } }
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
          body.reading-your-test #contentWrapper .outline-box hr.or::before {
            background: url("../../../images/pink-ellipse-or@2x.png?299");
            background-size: 121px 75px; } }
        @media only screen and (min-width: 0) and (max-width: 960px) {
          body.reading-your-test #contentWrapper .outline-box hr.or::before {
            width: 60px;
            height: 37px;
            background-size: 60px 37px !important; } }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        body.reading-your-test #contentWrapper .outline-box hr.or {
          margin: 4rem 0; } }
  body.reading-your-test #contentWrapper .outline-box p {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 205px;
    text-align: left;
    color: #df1995;
    position: relative;
    background-size: 320px 205px;
    background-position: center left !important;
    background-repeat: no-repeat !important; }
    body.reading-your-test #contentWrapper .outline-box p span {
      display: block;
      position: absolute;
      left: 340px;
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    body.reading-your-test #contentWrapper .outline-box p[data-id="1"] {
      /*
   * Set a counter and get the length of the image path.
   */
      /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
      /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
      /*
     * Set a base background for 1x environments.
     */
      background: url("../../../images/reading-your-test/pregnant-two-pink-lines.jpg?299");
      background-size: 320px 205px;
      /*
     * Create an @2x-ish media query.
     */
      /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
      /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="1"] {
          background: url("../../../images/reading-your-test/pregnant-two-pink-lines@2x.jpg?299");
          background-size: 320px 205px; } }
      @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="1"] {
          background: url("../../../images/reading-your-test/pregnant-two-pink-lines@2x.jpg?299");
          background-size: 320px 205px; } }
    body.reading-your-test #contentWrapper .outline-box p[data-id="2"] {
      /*
   * Set a counter and get the length of the image path.
   */
      /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
      /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
      /*
     * Set a base background for 1x environments.
     */
      background: url("../../../images/reading-your-test/pregnant-one-pink-line-one-faint-pink-line.jpg?299");
      background-size: 320px 205px;
      /*
     * Create an @2x-ish media query.
     */
      /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
      /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="2"] {
          background: url("../../../images/reading-your-test/pregnant-one-pink-line-one-faint-pink-line@2x.jpg?299");
          background-size: 320px 205px; } }
      @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="2"] {
          background: url("../../../images/reading-your-test/pregnant-one-pink-line-one-faint-pink-line@2x.jpg?299");
          background-size: 320px 205px; } }
    body.reading-your-test #contentWrapper .outline-box p[data-id="3"] {
      /*
   * Set a counter and get the length of the image path.
   */
      /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
      /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
      /*
     * Set a base background for 1x environments.
     */
      background: url("../../../images/reading-your-test/not-pregnant-one-pink-line.jpg?299");
      background-size: 320px 205px;
      /*
     * Create an @2x-ish media query.
     */
      /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
      /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */ }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="3"] {
          background: url("../../../images/reading-your-test/not-pregnant-one-pink-line@2x.jpg?299");
          background-size: 320px 205px; } }
      @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
        body.reading-your-test #contentWrapper .outline-box p[data-id="3"] {
          background: url("../../../images/reading-your-test/not-pregnant-one-pink-line@2x.jpg?299");
          background-size: 320px 205px; } }
    @media only screen and (min-width: 769px) and (max-width: 960px) {
      body.reading-your-test #contentWrapper .outline-box p {
        background-size: 240px 154px !important;
        min-height: 154px; }
        body.reading-your-test #contentWrapper .outline-box p span {
          left: 250px; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      body.reading-your-test #contentWrapper .outline-box p {
        background-size: 160px 102px !important;
        min-height: 102px; }
        body.reading-your-test #contentWrapper .outline-box p span {
          padding-left: 170px; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body.reading-your-test #contentWrapper .outline-box p {
        background-size: 80px 51px !important;
        min-height: 52px; }
        body.reading-your-test #contentWrapper .outline-box p span {
          padding-left: 90px; } }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      body.reading-your-test #contentWrapper .outline-box p {
        display: inline-block;
        background-position: top left; }
        body.reading-your-test #contentWrapper .outline-box p span {
          position: relative;
          left: auto;
          top: auto;
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -o-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          float: left;
          clear: both; } }

body.reading-your-test #contentWrapper .solid-box {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #fdd5ec;
  padding: 4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  body.reading-your-test #contentWrapper .solid-box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    will-change: transform;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 121px;
    height: 75px;
    /*
   * Set a counter and get the length of the image path.
   */
    /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
    /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
    /*
     * Set a base background for 1x environments.
     */
    background: url("../../../images/pink-ellipse-exclamation.png?299");
    background-size: 121px 75px;
    /*
     * Create an @2x-ish media query.
     */
    /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
    /*
   * If anything went wrong trying to separate the file from its
   * extension, set a background value without doing anything to it.
   */
    background-repeat: no-repeat !important;
    text-align: center;
    color: #FFFFFF; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      body.reading-your-test #contentWrapper .solid-box::before {
        background: url("../../../images/pink-ellipse-exclamation@2x.png?299");
        background-size: 121px 75px; } }
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
      body.reading-your-test #contentWrapper .solid-box::before {
        background: url("../../../images/pink-ellipse-exclamation@2x.png?299");
        background-size: 121px 75px; } }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      body.reading-your-test #contentWrapper .solid-box::before {
        width: 60px;
        height: 37px;
        background-size: 60px 37px !important; } }
  body.reading-your-test #contentWrapper .solid-box p {
    margin-top: 1rem;
    color: #df1995; }
