/**
 * Foundation Mixins
 */
body.misc #contentWrapper {
  margin-top: 10rem; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    body.misc #contentWrapper {
      margin-top: 14rem; } }
  body.misc #contentWrapper .outline-box {
    margin-top: 2rem;
    border: solid 1px #df1995;
    background-color: #fff9f7;
    padding: 4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.misc #contentWrapper .outline-box .form {
      float: left;
      clear: both;
      width: 100%; }
      body.misc #contentWrapper .outline-box .form h3 {
        color: #df1995; }
      body.misc #contentWrapper .outline-box .form .formRow {
        float: left;
        clear: both;
        width: 100%;
        margin-bottom: 1rem; }
        body.misc #contentWrapper .outline-box .form .formRow label {
          float: left;
          width: 40%;
          color: #df1995;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0.75rem 0;
          font-size: 30px;
          font-size: 1.875rem;
          line-height: 40px;
          line-height: 2.5rem; }
          @media only screen and (min-width: 0) and (max-width: 480px) {
            body.misc #contentWrapper .outline-box .form .formRow label {
              width: 100%; } }
        body.misc #contentWrapper .outline-box .form .formRow .input {
          float: left;
          width: 60%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px #df1995 solid;
          padding: 0.5rem 1rem;
          font-size: 30px;
          font-size: 1.875rem;
          line-height: 40px;
          line-height: 2.5rem;
          color: #818181;
          font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; }
          body.misc #contentWrapper .outline-box .form .formRow .input.short {
            width: 200px; }
          @media only screen and (min-width: 0) and (max-width: 480px) {
            body.misc #contentWrapper .outline-box .form .formRow .input {
              width: 100%; } }
        body.misc #contentWrapper .outline-box .form .formRow .error {
          float: left;
          clear: both;
          color: #df1995;
          width: 100%;
          font-size: 20px;
          font-size: 1.25rem;
          line-height: 20px;
          line-height: 1.25rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding-left: 40%;
          margin-top: 0.5rem; }
          @media only screen and (min-width: 0) and (max-width: 480px) {
            body.misc #contentWrapper .outline-box .form .formRow .error {
              padding-left: 0; } }
        body.misc #contentWrapper .outline-box .form .formRow textarea {
          resize: none; }
        body.misc #contentWrapper .outline-box .form .formRow .button {
          margin-left: 40%; }
          @media only screen and (min-width: 0) and (max-width: 480px) {
            body.misc #contentWrapper .outline-box .form .formRow .button {
              margin-left: 0; } }
