.faq-animation {
  animation: faqRemove ease-out 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: faqRemove ease-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: faqRemove ease-out 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: faqRemove ease-out 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: faqRemove ease-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes faqRemove {
  0% {
    transform: translate(0, 0) scaleY(1);
  }
  50% {
    transform: translate(100%, 0) scaleY(1);
  }
  100% {
    transform: translate(100%, 0) scaleY(0);
  }
}

@-moz-keyframes faqRemove {
  0% {
    -moz-transform: translate(0, 0) scaleY(1);
  }
  50% {
    -moz-transform: translate(100%, 0) scaleY(1);
  }
  100% {
    -moz-transform: translate(100%, 0) scaleY(0);
  }
}

@-webkit-keyframes faqRemove {
  0% {
    -webkit-transform: translate(0, 0) scaleY(1);
  }
  50% {
    -webkit-transform: translate(100%, 0) scaleY(1);
  }
  100% {
    -webkit-transform: translate(100%, 0) scaleY(0);
  }
}

@-o-keyframes faqRemove {
  0% {
    -o-transform: translate(0, 0) scaleY(1);
  }
  50% {
    -o-transform: translate(100%, 0) scaleY(1);
  }
  100% {
    -o-transform: translate(100%, 0) scaleY(0);
  }
}

@-ms-keyframes faqRemove {
  0% {
    -ms-transform: translate(0, 0) scaleY(1);
  }
  50% {
    -ms-transform: translate(100%, 0) scaleY(1);
  }
  100% {
    -ms-transform: translate(100%, 0) scaleY(0);
  }
}
