/**
 * Foundation Mixins
 */
@media print {
  @page {
    margin: 1.5cm; }
  #cookieDisclaimer {
    display: none !important; }
  #headerWrapper .bar,
  #headerWrapper .triangle {
    display: none !important; }
  #headerWrapper #topMenu .menu {
    display: none !important; }
    #headerWrapper #topMenu .menu li {
      border-left: 0px #FFFFFF solid !important; }
  #headerWrapper #topMenu .submenu-mask {
    display: none !important; }
  #contentWrapper h1 {
    font-size: 3rem !important;
    line-height: 3rem !important; }
  #contentWrapper h2 {
    font-size: 2rem !important;
    line-height: 2rem !important; }
  .match {
    height: auto !important; }
  .columns {
    width: 100% !important; }
    .columns.before-1 {
      margin-left: 0 !important; }
    .columns.after-1 {
      margin-right: 0 !important; }
  .ans {
    max-height: 90000px !important; } }
